.wrapper {
    max-width: 1200px;
    width: 100%;
    height: 245px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.container {
    max-width: 1200px;
    max-height: 105px;
    width: 100%;
    height: 100%;

    margin: 20px 0 100px;

    /* border: 2px solid red;      확인용 */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.logo {
  width: clamp(100px, 12vw, 140px);
  height: auto;

  /* border: 2px solid red; */
}

.logo-box {
  flex: 0 0 auto;      /* 로고 영역은 내용만큼만 차지 */
}

.container .address {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-neutral-900);    /* 글자색 */
    line-height: 35px;
}

@media (max-width: 768px) {
    .logo-box {
        display: none;
    }
}
