.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    max-width: 1200px;
    width: 100%;
    max-height: 62px;
    height: 100%;
    
    border: 1px solid var(--color-neutral-300);
    background-color: rgba(212, 224, 237, 0.7);
    border-radius: 50px;
    padding: 0 80px;
}


.menu {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0;
    list-style: none;
}

.menu li a {
    position: relative;
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 1.25rem;
    transition: text-shadow 0.3s;
}

.menu li a:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}





