.button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    width: 300px;

}

.button {
    width: 135px;
    height: 40px;
    background-color: var(--button-fill-blue); /* 배경색 */    
    color: var(--color-white);              /* 글자색 */
    border: 0; /* 테두리 */
    border-radius: 12px;        /* 둥근 모서리 */
    padding: 8px 24px;        /* 여백 */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    opacity: 85%; /* hover 시 색상 */
}

.button-disable {
    width: 135px;
    height: 40px;
    background-color: #0000;  /* 배경색 */
    color: var(--color-primary);              /* 글자색 */
    border: 1.5px solid var(--button-stroke-blue); /* 테두리 */
    border-radius: 12px;        /* 둥근 모서리 */
    padding: 8px 24px;        /* 여백 */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-mask {
  display:inline-block;
  width:24px; height:24px;
  background-color: var(--color-primary);
  -webkit-mask: url('/icons/keyboard_arrow_down.svg') no-repeat center / contain;
          mask: url('/icons/keyboard_arrow_down.svg') no-repeat center / contain;
}

.button-disable:hover {
    opacity: 85%; /* hover 시 색상 */
}

.languages-wrapper {
  position: relative;       /* 기준 박스 */
  display: inline-block;    /* 버튼 크기만큼만 */
}

.languages {
  position: absolute;
  top: calc(100% + 8px);     /* 버튼 바로 아래 8px 간격 */
  left: 0;
  width: 200px;
  background: var(--color-primary);
  /* 레이아웃 영향 0: display를 쓰거나 visibility/opacity를 쓰세요 */
  /* visibility: hidden;
  opacity: 0;
  pointer-events: none;     /* 안 보일 때 클릭 막기 */
  /* transition: opacity 120ms ease, visibility 120ms ease; */
}

.languages.open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;     /* 보일 때만 클릭 가능 */
}

