.card {
    max-width: 270px;
    max-height: 574px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;

    /* border: 1px solid var(--color-neutral-200);
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); */
}

.card .icon-box {
    max-width: 112px;
    max-height: 112px;
    width: 100%;
    height: 100%;

    border: 1px solid var(--color-neutral-200);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;

}

.icon-box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-2px); /* 살짝 떠오르는 느낌 */
}

.icon-box:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(1px); /* 눌린 느낌 */
}

.icon-box .icon {
    width: 62px;
    height: 62px;
    
    color: var(--primary-blue);

}

.card .title {
    max-width: 270px;
    max-height: 29px;
    width: 100%;
    height: 100%;

    color: var(--primary-blue);
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;

}

.card .tech-box {
    max-width: 270px;
    max-height: 397px;
    width: 100%;
    height: 100%;

    border: 1px solid var(--color-neutral-200);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card .tech-box {
    max-width: 270px;
    max-height: 397px;
    width: 100%;
    height: 100%;

    border: 1px solid var(--color-neutral-200);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);

    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
}

.tech-box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-2px); /* 살짝 떠오르는 느낌 */
}

.tech-box:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(1px); /* 눌린 느낌 */
}

.tech-box .tech-image {
    max-width: 82px;
    max-height: 82px;
    width: 100%;
    height: 100%;
    position: relative;
}

.tech-image .image {
    object-fit: contain;
    /* filter: grayscale(100%);
    transition: filter 180ms ease;  */
}

