.concept {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    min-width: 972px;
    width:100vw;
    height:972px;

    /* border: 2px solid purple;   확인용 */
}

.section {
    max-width: 1440px;
    min-width: 1280px;
    width: 100%;
    /* border: 2px solid blue;   확인용 */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.container {
    max-width: 1200px;
    max-height: 963px;
    width: 100%;
    height: 100%;
    margin: 120px 0;

    /* border: 2px solid red;   확인용 */

    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
   
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heading .big{
    max-width: 1119px;
    
    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.heading .small{
    max-width: 1119px;
    
    margin: 0;
    color: var(--color-neutral-600);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.cards {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;   확인용 */ 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:32px;
}




