.wrapper {
    height: 970px;

    /* border: 2px solid purple;     확인용 */
}

.section {
    /* border: 2px solid blue;     확인용 */
}

.container {
    max-height: 740px;
    height: 100%;
    margin: 120px 0;

    gap: 80px;
    /* border: 2px solid red;     확인용 */
}

.heading {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.heading .big{
    max-width: 1200px;
    
    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.heading .small{
    max-width: 1119px;
    
    margin: 0;
    color: var(--color-neutral-600);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.contents {
    max-width: 1200px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
}

.contents .media {
    max-width: 620px;
    width: 100%;
    aspect-ratio: 1;

    /* border: 1px solid var(--card-stroke-200); */
    /* border-radius: 16px; */
}

.media .image{
    max-width: 620px;
    width: 100%;
    aspect-ratio: 1;

    border: 1px solid var(--card-stroke-200);
    border-radius: 16px;
}





