.wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;       확인용 */
}

.section {
    width: 100%;
    /* border: 2px solid red;        확인용 */
    max-width: 1200px;
    margin: 120px auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
}

.heading {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 16px;
}

.heading .title{
    max-width: 1200px;
    width: 100%;

    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;

    white-space: pre-line;
}

.container {
    max-width: 1200px;
    width: 100%;
    max-height: 400px;
    height: 100%;

    /* border: 1px solid purple;        확인용 */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
}

.contents {
    max-width: 568px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.contents .description{
    max-width: 568px;
    
    margin: 0;
    color: var(--color-neutral-600);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;

    white-space: pre-line;
}

.multilang-text {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.image {
  max-width: 568px;
  /* 필요하면 더 줄이기: 예) max-width: 400px; */
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}






