.wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;       확인용 */
}

.section {
    width: 100%;
    /* border: 2px solid red;        확인용 */
    max-width: 1200px;
    margin: 120px auto 240px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

.heading {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 36px;
}

.heading .title{
    max-width: 1200px;
    width: 100%;

    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;

    /* border: 1px solid purple;        확인용 */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
}

.container .contents{
    max-width: 540px;
    width: 100%;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 8px;
}

.contents .description{
    position: relative;
    padding-left: 24px;       /* 점과 텍스트 간격 */
    margin-bottom: 8px;

    color: var(--color-neutral-600);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.description::before {
    content: "•";             /* 가운데 점 */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;          /* 점 크기 */
    line-height: 1;
    color: var(--color-neutral-600);           /* 점 색상 (텍스트와 동일) */
}

.multilang-text {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}




