.wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;       확인용 */
}

.section {
    width: 100%;
    /* border: 2px solid red;        확인용 */
    max-width: 1200px;
    margin: 120px auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
}

.heading {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 36px;
}

.heading .title{
    max-width: 556px;
    width: 100%;

    margin: 0;
    color: var(--color-neutral-900);
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.heading .contents{
    max-width: 556px;
    
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 8px;
}

.contents .description{
    position: relative;
    padding-left: 24px;       /* 점과 텍스트 간격 */
    margin-bottom: 8px;

    color: var(--color-neutral-600);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.description::before {
    content: "•";             /* 가운데 점 */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;          /* 점 크기 */
    line-height: 1;
    color: var(--color-neutral-600);           /* 점 색상 (텍스트와 동일) */
}


.container {
    max-width: 580px;
    width: 100%;
    max-height: 406px;
    height: 100%;

    /* border: 1px solid purple;        확인용 */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
}

.multilang-text {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.image {
  max-width: 568px;
  /* 필요하면 더 줄이기: 예) max-width: 400px; */
  width: 100%;
  border-radius: 8px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
  overflow: hidden;
}






