.wrapper {
    width: 100%;
    height: 100%;

    /* border: 2px solid purple;    확인용 */
    
    display: flex;
    justify-content: center;

}

.section {
    width: 100%;
    max-width: 1200px;

    /* border: 2px solid blue;    확인용 */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.container {
    max-width: 1200px;
    max-height: 1155px;
    width: 100%;
    height: 100%;
    margin: 120px 0;

    /* border: 2px solid red;    확인용 */

    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading .big{
    max-width: 1119px;
    
    margin: 0;
    color: var(--color-neutral-900);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.logobox {
    max-width: 960px;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;   확인용 */ 

    color: var(--color-neutral-600);
    font-size: 20px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:48px;
    
}

.logoImage {
    max-width: 960px;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;   확인용 */ 

    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;

    color: var(--color-neutral-600);
    font-size: 20px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:48px;
    
}

.logoImage .image{
    max-width: 440px;
    max-height: 162px;

    position: relative;

    aspect-ratio: 2.72 / 1; /* 또는 원하는 비율 */
    width: 100%;
    overflow: hidden;
}

.logoImage .logoLine1{
    width: 100%;
    position: absolute;
    top: -40%;
    left: 85%;
    transform: translateX(-50%);
    z-index: 20;
}

.logoImage .logoText1{
    width: 100%;
    position: absolute;
    top: -30%;
    left: 100%;
    transform: translateX(-50%);
    z-index: 20;
}

.logoImage .logoLine2{
    width: 100%;
    position: absolute;

    bottom: -50%;
    left: 70%;

    transform: translateX(-50%);
    z-index: 20;
}

.logoImage .logoText2{
    width: 100%;
    position: absolute;

    bottom: -35%;
    left: 80%;

    transform: translateX(-50%);
    z-index: 20;
}

.description {
    max-width: 960px;
    width: 80%;
    height: 100%;
    padding-left: 100px;
    /* border: 2px solid blue;   확인용 */ 

    color: var(--color-neutral-600);
    font-size: 20px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap:24px;
    
}

.description {
    max-width: 960px;
    width: 100%;
    height: 100%;
    padding-left: 150px;
    /* border: 2px solid blue;   확인용 */ 

    color: var(--color-neutral-600);
    font-size: 20px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap:24px;
    
}

.description .logoDetail{
    width: 100%;
    
}
