.wrapper {
    height: 658px;

    /* border: 2px solid purple;     확인용 */
}

.section {
    /* border: 2px solid blue;     확인용 */
}

.container {
    max-height: 740px;
    height: 100%;
    margin: 120px 0;

    gap: 80px;
    /* border: 2px solid red;     확인용 */
}

.heading {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.heading .big{
    max-width: 1200px;
    
    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.heading .small{
    max-width: 1119px;
    
    margin: 0;
    color: var(--color-neutral-600);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.news-list {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: inline-flex;
  gap: 80px;
  width: max-content;
  will-change: transform;
  align-items: flex-start; /* baseline 대신 위쪽 정렬 */
}

.track > * {
  flex: 0 0 340px;
}



