.wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue;       확인용 */
}

.section {
    width: 100%;
    /* border: 2px solid red;        확인용 */
    max-width: 1200px;
    margin: 120px auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
}

.heading {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 36px;
}

.heading .title{
    max-width: 1200px;
    width: 100%;

    margin: 0;
    color: var(--color-neutral-900);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.heading .contents{
    max-width: 916px;
    
    margin: 0 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 8px;
}

.contents .description{
    position: relative;
    padding-left: 24px; /* 체크 공간 확보 */
    margin-bottom: 12px;

    color: var(--color-neutral-600);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    color: var(--color-neutral-600);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.checkIcon {
    width: 24px;
    height: 24px;
    margin-top: 2px;     /* 텍스트와 수직 정렬 맞추기 */
    flex-shrink: 0;
}

.checkIcon svg {
    width: 100%;
    height: 100%;
}

.checkIcon svg path {
    fill: var(--color-neutral-600);       /* 체크 색상 */
}

.text {
    flex: 1;
}

.container {
    max-width: 1200px;
    width: 100%;
    max-height: 400px;
    height: 100%;

    /* border: 1px solid purple;        확인용 */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
}

.image{
    max-width: 1200px;
    max-height: 357px;

    border-radius: 8px;

    position: relative;

    aspect-ratio: 6 / 5; /* 또는 원하는 비율 */
    width: 100%;
    overflow: hidden;
}





