.wrapper {
    height: 970px;

    /* border: 2px solid purple;     확인용 */
}

.section {
    /* border: 2px solid blue;     확인용 */
}

.container {
    max-height: 740px;
    height: 100%;
    margin: 120px 0;

    gap: 80px;
    /* border: 2px solid red;     확인용 */
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading .big{
    max-width: 1200px;
    
    margin: 0;
    color: var(--color-neutral-900);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.stacks {
    max-width: 1200px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}






