@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard', sans-serif;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-neutral-900 : #0B3555;
    --color-neutral-600 : #476788;
    --color-neutral-300 : #A6BBD1;
    --color-neutral-200 : #D4E0ED;
    --button-fill-blue: #1682C5;
    --button-stroke-blue: #1E69A1;
    --card-stroke-200: #D4E0ED;
    /* --color-primary: #1E69A1; */
    --primary-blue: #1E69A1;
    --bg-gray-100: #F8F9FB;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-900: #1C1B1F;

    --font-famly: Pretendard, sans-serif;
    --font-size-desktop: 16px;
    --font-size-tablet: 14px;
    --font-size-mobile: 12px;
 
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  word-break: keep-all;
  font-family: var(--font-famly);
  font-size: var(--font-size-desktop); /* 데스크톱 */

  scroll-behavior: smooth;
}

@media (max-width: 1280px) {
  html {
    font-size: var(--font-size-tablet); /* 태블릿 */
  }
}

@media (max-width: 768px) {
  html {
    font-size: var(--font-size-mobile); /* 모바일 */
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  min-height: 100vh;
}

header {
    position:sticky;
    top: 0;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    background-image: linear-gradient(
      180deg,
      rgba(255,255,255,0.9) 15.1%,
      rgba(255,255,255,0.5) 100%
    );
    backdrop-filter: blur(6px);
    
    border-top: 1px solid white;
    /* border: 0 solid purple;   확인용 */
    z-index:1000;
}

@media (max-width: 768px) {
  header {
    height: 4rem;      /* 필요하면 좀 더 줄이기 */
  }
}

footer {
  width: 100%;

  background-color: var(--bg-gray-100);
  border-top: 1px solid var(--card-stroke-200);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}
main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;      /* PC: 32px, 태블릿: 28px, 모바일: 24px */
}

h2 {
  font-size: 1.5rem;    /* PC: 24px, 태블릿: 21px, 모바일: 18px */
}

h3 {
  font-size: 1.17rem;   /* PC: 약 18.7px, 태블릿: 약 16.4px, 모바일: 약 14px */
}

h4 {
  font-size: 1rem;      /* PC: 16px, 태블릿: 14px, 모바일: 12px */
}

h5 {
  font-size: 0.83rem;   /* PC: 약 13.3px, 태블릿: 약 11.6px, 모바일: 약 10px */
}

h6 {
  font-size: 0.67rem;   /* PC: 약 10.7px, 태블릿: 약 9.4px, 모바일: 약 8px */
}

.big {
  font-size: 4rem; /* 64px, html이 16px 기준 */
  font-weight: 700;
}

